<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeZero.Auction.Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TimeZero.Auction.Bot.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>188.93.63.180</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>5190</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>тэма</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>ktfgw2sa</value>
            </setting>
            <setting name="ClientVersion" serializeAs="String">
                <value>108</value>
            </setting>
            <setting name="ClientVersion2" serializeAs="String">
                <value>7.0.1 (7.1.2.6)</value>
            </setting>
            <setting name="LocalIP" serializeAs="String">
                <value>192.168.1.57</value>
            </setting>
            <setting name="MainSWFFilePath" serializeAs="String">
                <value>c:\Program Files\TimeZero\tz.swf</value>
            </setting>
            <setting name="OutLogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutDetailedLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeZeroExePath" serializeAs="String">
                <value>c:\Program Files\TimeZero\TimeZero.exe</value>
            </setting>
            <setting name="ChatServerPort" serializeAs="String">
                <value>5190</value>
            </setting>
        </TimeZero.Auction.Bot.Properties.Settings>
    </applicationSettings>
</configuration>